<div class="pf-c-login-box{{#if login-box--modifier}} {{login-box--modifier}}{{/if}}"
  {{#if login-box--attribute}}
    {{{login-box--attribute}}}
  {{/if}}
  {{#if login-box--id}}
    id="{{login-box--id}}"
  {{/if}}>
  {{> @partial-block}}
</div>
